# Flutter build
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.dart_tool/

# VSCode 설정
.vscode/

# Android 관련 빌드 파일
android/.gradle/
android/app/build/
*.iml
.idea/

# iOS 관련 빌드 파일
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/GeneratedPluginRegistrant.*
ios/Flutter/ephemeral/

# Xcode 자동 생성 파일
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Firebase 관련 비밀 파일
*.keystore
*.jks

# Mac OS 불필요 파일
.DS_Store

# 기타 IDE 불필요 파일
*.log
*.tmp

# 환경변수 파일 (직접 작성했을 경우)
.env